<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>I/O Project</title>
  </head>
  <body>
    <span>A simple file uploader and downloader :)</span>
    <% if (1) { %>
    <span>lets make it as simple as we can</span>
    <% } %>
  </body>
</html>
